.sell-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  position: relative;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: left;
}

.stock-sell-question {
  margin-bottom: 20px;
  color: gray;
  font-size: 0.9em;
  text-align: left;
}

.stock-info {
  margin-bottom: 20px;
  color: gray;
  font-size: 0.9em;
  text-align: left;
  width: 100%;
  display: block; /* Ensure block display for full-width text */
}

.form-group {
  margin-bottom: 15px;
}

input[type="number"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  color: red;
  font-size: 0.85em;
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: #e0e0e0;
  color: black;
}

.sell-button {
  background-color: black;
  color: white;
}